html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: relative;
    margin: 0;
    height: 100vh;
    overflow: hidden;

}

#flash-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flashes {
    background-color: white;
    padding: 40px;
    border: 1px solid black;
    font-size: 2em;
    color: #000;
    z-index: 9999;
    list-style: none;
    text-align: center;
  }

  .flash-close {
    font-size: 1.5em;
    cursor: pointer;
    z-index: 10000;
  }
  
#container {
    position: fixed;
    top: 4%;
    bottom: 4%;
    left: 2%;
    right: 2%;
    box-sizing: border-box;
    background-color: transparent;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
    #container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 2px;
    background-color: white;
    }

    #container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 2px;
    background-color: white;
    }


.left_edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 10vh;
    background-color: white;
 }


.right_edge {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 10vh; 
    background-color: white;
}

.timeline {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 10px; 
    background-color: rgb(255, 255, 255); 
    z-index: -999;
}

#unlocked_timeline{
    position: fixed;
    bottom: 25%;
}
#locked_timeline{
    position: fixed;
    bottom: 12%;
}
.question_header {
    /* position: absolute; */
    top: 5%;
    color: white;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    width: 80%;
}

.menu_container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.actions{
    position: fixed;
    bottom: 18.5%;
}
.menu_button {
    background-color: rgb(0, 0, 0);
    border: solid 1px #fff;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}
.post_button{
    background-color: rgb(0, 0, 0);
    border: solid 1px #fff;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    
}
.dropdown_menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

.dropdown_menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown_menu a:hover {
    background-color: #ddd;
}

.stats_container {
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
@media only screen and (max-width: 1240px) {
    body {
        font-size: 14px; 
        background-color: aqua;
    }

    .question_header {
        font-size: 3em; 
    }

    .card {
        width: 110px; 
        height: 150px; 
    }

    .score_container {
        font-size: 1.2em; 
        width: 70%; 
    }

    .card_container {
        bottom: calc(22%); 
        left: 50%;
        gap: 35px;
    }
    .middle_card {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 1680px) {
    body {
        font-size: 14px; 
        background-color: purple;
    }

    .question_header {
        font-size: 3em; 
    }

    .card {
        width: 110px; 
        height: 150px; 
    }

    .score_container {
        font-size: 1.2em; 
        width: 70%; 
    }

    .card_container {
        bottom: calc(22%); 
        left: 50%;
        gap: 35px;
    }
    .middle_card {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
