html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: relative;
    margin: 0;
    height: 100vh;
    overflow: scroll;
}

/* Flash messages styling*/
.flashes {
    color: #ffffff;
    z-index: 9999;
    list-style: none;
    text-align: right;
    padding-right: 3%;
    padding-top: 2%;
}

.sortable_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 180px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.card.correct {
  border: 5px solid #4CAF50;
  background-color: #e6ffea; /* green tint */
}

.card.unlocked {
  border: 5px solid #FFA500;
  background-color: #fff4e6; /* orange tint */
}



/* Main Container for content*/
#container {
    position: fixed;
    top: 4%;
    left: 2%;
    right: 2%;
    box-sizing: border-box;
    background-color: transparent;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 96%;
    padding-bottom: 20px;
    height: 100vh;
}

.spotify_player{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 80px;
    z-index: 1000;

}
/* Styling for the container box */
#container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20vw;
    height: 2px;
    background-color: white;
}

#container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 2px;
    background-color: white;
}

.left_edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 10vh;
    background-color: white;
}

.right_edge {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 10vh;
    background-color: white;
}

/* Styling for the game content */
.menu_container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu_button {
    background-color: rgb(0, 0, 0);
    border: solid 1px #fff;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

.post_button {
    background-color: rgb(0, 0, 0);
    border: solid 1px #fff;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;

}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}
.question_container {
    width: 80%;
    height: 175px;
    border: 2px solid #555;
    text-align: center;
  }
  
  .question_header {
    margin: 0;
    padding: 10px;
    font-weight: bold;
    overflow: hidden;
    display: block;
    transition: font-size 0.2s ease;
    max-height: 3em; /* This is the key constraint */
  }


.timeline_container {
    width: 90%;
    position: relative;
}

.timeline {
    border: none;
    border-top: 10px solid white;
    width: 100%;
    margin: 0px 0;
}
.lock-animation-icon {
    position: fixed;
    bottom: 40%;
    left: 20%;
    transform: translate(-50%, 50%);
    font-size: 5rem;
    color: white;
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
  }
  
  .lock-animation-icon.animate {
    animation: fadeLock 1s ease-out forwards;
  }
  
  @keyframes fadeLock {
    0% {
      opacity: 1;
      transform: translate(-50%, 50%) scale(1.5);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, 50%) scale(1);
    }
  }

  .point_cursor{
    cursor: pointer;
} 
.card {
    background-color: #ffffff;
    background-image: url(img/white-construction-paper-texture-2496301314.jpg);
    background-size: cover transparent 40%;
    color: rgb(0, 0, 0);
    border: 3px solid #838282;
    z-index: 9999;
    border-radius: 6px;
    padding: 15px;
    max-width: 100px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
    min-height: 150px;
    max-height: 150px;
    overflow-y: hidden;
}

.card:hover {
    transform: scale(1) translateY(-2px) rotateZ(1deg);
    box-shadow: 15px 10px 3px rgb(168, 168, 168);
    overflow-y: scroll;
}

.card:active {
    transform: perspective(800px) rotateX(5deg) rotateY(-5deg);
}

.date {
    font-size: 2em;
    color: #000;
    margin-top: 5px;
    margin-bottom: 0;
}

.answered_question {
    font-family: "Interstate", sans-serif;
}

.locked_card_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    min-height: 190px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow-x: auto;
    z-index: 9999;
}

.unlocked_card_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 160px;
    overflow-x: auto;
    z-index: 9999;
}

.player_statistics {
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 60%;
    justify-content: center;
}

.player_statistics h3 {
    border-top: 2px white solid;
    margin-top: 0;
    padding-top: 1%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal {
    width: 40vw;
    height: 80vh;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.modal_header {
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #525252;
}

.tutorial_step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 15px;
}

.tutorial_step h3 {
    margin: 0 0 5px 0;
    font-size: 1.em;
    color: #525252;
}

.tutorial_step p {
    margin: 0;
    font-size: 1em;
    color: #525252;
}

.icon {
    font-size: 1.8em;
    color: #525252;
}

.modal_footer {
    margin-top: auto;
    text-align: right;
}

.modal_footer button {
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.modal_footer button:hover {
    background-color: #525252;
}

#winModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

#action_history_floating {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 260px;
  max-height: 300px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 1rem;
  border-radius: 8px;
  color: #fff;
  font-size: 0.9rem;
  z-index: 1000;
  cursor: grab;
}

#action_history_floating .drag-handle {
  cursor: move;
  font-weight: bold;
  color: #f3f3f3;
  margin: 0;
}

#action_history_floating h3 {
  margin-top: 0;
  font-size: 1.1rem;
  color: #f3f3f3;
}

#action_history_floating ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#action_history_floating li {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.3rem;
}


@media only screen and (max-width: 1240px) {
    body {
        font-size: 14px;
        background-color: aqua;
    }

    .question_header {
        font-size: 3em;
    }

    .card {
        width: 110px;
        height: 150px;
    }

    .score_container {
        font-size: 1.2em;
        width: 70%;
    }


    .middle_card {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 1680px) {
    body {
        font-size: 14px;
        background-color: rgb(0, 0, 0);
    }

    .question_header {
        font-size: 3em;
    }


    .middle_card {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}