<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ChronoLogical</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='pop_up.js') }}"></script>

        {% block head %} {% endblock %}
    </head>
    <body>
        <div id="container">
            <span class="left_edge"></span>
            <span class="right_edge"></span>
            <div class="menu_container">
                <button class="menu_button" onclick="toggleMenu()">Menu button</button>
                <div class="dropdown_menu" id ="dropdown_menu">
                    <a href="#">Option 1</a>
                    <a href="#">Option 2</a>
                    <a href="#">Option 3</a>
                </div>
            </div>
            <!-- <div class="second_menu">
                <button class="menu_button" onclick="openPopup()">Pop Up Menu</button>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closePopup()">&times;</span>
                        <p>Modal Content</p>
                        <a href="#">Option 1</a>
                        <a href="#">Option 2</a>
                        <a href="#">Option 3</a>
                    </div>
                </div>
            </div> -->
            {% block body %} {% endblock %}
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div id="flash-overlay">
            <ul class="flashes">
              {% for msg in messages %}
                <li>{{ msg }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}
    </body>
</html>