<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChronoLogical</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='animations.css') }}">
  <script src="{{ url_for('static', filename='pop_up.js') }}"></script>
  <script src="{{ url_for('static', filename='game_logic.js') }}"></script>
  <script src="{{ url_for('static', filename='theme.js') }}"></script>
  <script src="{{ url_for('static', filename='animation.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

{% block head %} {% endblock %}
</head>

<body>
  <div class="crt">
    <div id="container">
      <span class="left_edge"></span>
      <span class="right_edge"></span>
      <div class="menu_container">
        <button class="menu_button" onclick="openModal()">Tutorial</button>
        <button class="menu_button" onclick="openHighscoresModal()">High Scores</button>
        <label class="toggle_switch">
          <input type="checkbox" id="themeToggleSwitch">
          <span class="slider"></span>
        </label>
        <div id="modal_overlay" class="overlay" style="display: none;">
          <div class="modal">
            <h2 class="modal_header"><i class="fas fa-book-open"></i> Welcome to the Tutorial</h2>

            <div class="tutorial_step">
              <i class="fas fa-lightbulb icon fas"></i>
              <div>
                <br>
                <h3>Game Mechanics</h3>
                <p>
                  The game starts with an empty timeline and a randomly selected card from our deck of historical events. 
                  The card on the timeline represents a year in history, and it's your job to pull cards from the deck and 
                  correctly place them in chronological order. But be careful! It's gonna get trickier as you progress.
                </p>
                <ul>
                  <li><strong>Question Card</strong>: A question card should be chronologically placed in the timeline.</li>
                  <br>
                  <li><strong>Locked Cards</strong>: Displayed as cards with green borders. These cards are secured onto the 
                    timeline and can't be lost.</li>
                  <br>
                  <li><strong>Unlocked cards</strong>: Displayed as cards with orange borders. These cards run the risk of being lost
                    until the player uses a Lock to secure them. </li>
                </ul>
              </div>
            </div>
            <div class="tutorial_step">
              <i class="fas fa-mouse-pointer icon"></i>
              <div>
                <h3>Buttons</h3>
                <ul>
                  <li><strong>Lock Unlocked Cards</strong>: Secures the unlocked cards onto the timeline and consumes one of your lock-in's.
                  </li>
                  <br>
                  <li><strong>Quit</strong>: End the game session and return to homepage.</li>
                  <br>
                  <li><strong>Skip</strong>: Player can skip a question up to 3 times.</li>
                </ul>
              </div>
            </div>

            <div class="tutorial_step">
              <i class="fas fa-hourglass-half icon"></i>
              <div>
                <h3>Game Modes & Statistics</h3>
                <ul>
                  <li><strong>Easy Mode</strong>: Player has 3 lock-ins that only decrease when locked the card(s).
                  </li>
                  <li><strong>Hard Mode</strong>: Player has 3 lock-ins and lock-ins decrease when locked the card(s)
                    AND placed a card chronologically incorrect.</li>
                  <br>
                  <li><strong>Lock-ins</strong>: Player gets 3 lock-ins per game. When all lock-ins are used, end the
                    game session and return to homepage.</li>
                  <br>
                  <li><strong>Score</strong>: A correctly placed card counts as 100 points to the player's score, and an incorrectly placed card
                    reduce your score by 1 point.</li>
                </ul>
              </div>
            </div>
            <div class="modal_footer">
              <button onclick="closeModal()">Got it!</button>
            </div>
          </div>
        </div>
        <div id="highscores_modal" class="overlay" style="display: none;">
          <div class="modal">
            <h2 class="modal_header">HIGH SCORES</h2>
            <table class="modal_header">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
              </tr>
              {% for name, score, date in highscores %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ name }}</td>
                <td>{{ score }}</td>
              </tr>
              {% endfor %}
            </table>
            <button class="post_button" onclick="closeHighscoresModal()">Close</button>
          </div>
        </div>
      </div>
      <span class="bottom_line"></span>
      {% block body %} {% endblock %}
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for msg in messages %}
        <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages() %}
    {% if 'SHOW_HIGHSCORES' in messages %}
    <script>
      window.addEventListener('DOMContentLoaded', function () {
        openHighscoresModal();
      });
    </script>
    {% endif %}
    {% endwith %}
  </div>
</body>

</html>