{% extends "base.html" %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
{% endblock %}

{% block body %}
<div class="player_statistics">
  <h3>Stage: {{ session.stage }}</h3>
  <h3>Lock-ins: {{ 3 - session.lifeline_count }}</h3>
  <h3>Score: {{ session.score }}</h3>
</div>

<div id="action_history_floating" class="draggable">
  <h3 class="drag-handle">Action History</h3>
  <ul>
    {% for line in session.get('history', [])|reverse %}
    <li>{{ line }}</li>
    {% endfor %}
  </ul>
</div>

<form method="post">
  <button class="post_button" type="submit" name="action" value="lock">Lock Unlocked Cards</button>
  <button class="post_button" type="submit" name="action" value="quit">Quit</button>
</form>

{% if song_embed_url %}
<div class="spotify-player">
  <iframe style="border-radius:12px" src="{{ song_embed_url }}" width="100%" height="80" frameborder="0"
    allowtransparency="true" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy">
  </iframe>
</div>
{% endif %}
<div class="section">
  <h2>Next Question</h2>
  <div class="sortable_container" id="palette">
    {% if next_question %}
    <div class="card new" data-id="{{ next_question.date }}" data-qid="{{ next_question.question_id }}" data-date="{{ next_question.date }}">
      {% if next_question.category == 'Music & Soundbites' %}
      Guess the year of the song!
      {% else %}
      {{ next_question.question }}
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>

<div class="section">
  <h2>Your Timeline</h2>
  <div class="sortable_container" id="timeline">
    {% set combined = locked + unlocked %}
    {% for entry in combined|sort(attribute='date') %}
    <div class="card {% if entry in locked %}correct{% else %}unlocked{% endif %}" data-id="{{ entry.date }}" data-qid="{{ entry.question_id }}">
      <p class="date">{{ entry.date }}</p>
      <p class="answered_question">
        {% if entry.category == 'Music & Soundbites' %}
          Spotify Track
        {% else %}
          {{ entry.question }}
        {% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if 'SHOW_MODAL' in messages %}
    <div id="showModalTrigger" style="display: none;"></div>
  {% endif %}
{% endwith %}
<div id="winModal" style="display: none;">
  <div class="modal">
    <h2 class="modal_header"> Congratulations!</h2>
    <p>You’ve successfully completed the timeline!</p>
    <form method="post">
      <button class="post_button" type="submit" name="action" value="continue">Continue</button>
      <button class="post_button" type="submit" name="action" value="restart">Restart</button>
    </form>
  </div>
</div>

{% endblock %}

