{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block body %}
<h1>ChronoLogical</h1>
<div class="index_container">
  <div class="categories_container">
  <!-- <h1>Choose Category</h1> -->

  <form method="post" id="form">
    <h2 class="question_header" for="category">Category:</h2>
    {% for cat in categories %}
    <input type="checkbox" name="category" value="{{ cat }}" class="point_cursor custom-checkbox" id="cat_{{ loop.index }}" checked>
    <label for="cat_{{ loop.index }}" class="point_cursor" >{{ cat }}</label><br>
    {% endfor %}
    </select>
    <label>
      <input type="checkbox" name="enable_skips" value="yes">
      Enable 3 skips
    </label>
  </form>
  </div>

  <div class="center_button_wrapper">
    <button class="start_button" type="submit" form="form">Start game!</button>
  </div>
  <div class="leaderboard_container"> 
    <h2 class="question_header"> Leaderboard:</h2>
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Player</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for name, score, date in scores %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ name }}</td>
          <td>{{ score }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}