{% extends "base.html" %}
{% block head %}
    
{% endblock %}

{% block body %}
  <div class="menu_container">
    <button class="menu_button" onclick="toggleMenu()">Menu button</button>
    <div class="dropdown_menu" id="dropdown_menu">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
    </div>
  </div>
  <h1>Välj kategori</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class = "flashes">
        {% for msg in messages %}
          <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method = "post">
    <h2 class = "question_header" for = "category">Kategori:</h2>
    <select name = "category" id = "category">
      {% for cat in categories %}
        <option value = "{{ cat }}">{{ cat }}</option>
      {% endfor %}
    </select>
    <button type = "submit">Starta spel</button>
  </form>
{% endblock %}